<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      height="200px"
      srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a>
         Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.
         Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina
         clássica datada de 45 AC. Richard McClintock, um professor de latim do Hampden-Sydney College
         na Virginia, pesquisou uma das mais obscuras palavras em latim, consectetur, oriunda de uma
         passagem de Lorem Ipsum, e, procurando por entre citações da palavra na literatura clássica,
         descobriu a sua indubitável origem.
      </a>
    </p>
  </div>
</div>
